@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: hsl(218, 23%, 16%);
    font-family: 'Manrope', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cart {
    width: 445px;
    margin: 30px;
    height: fit-content;
    padding: 25px;
    text-align: center;
    border-radius: 15px;

    background-color: hsl(217, 19%, 24%);
}

.cart h5 {
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 3px;

    color: hsl(150, 100%, 66%);
}

.cart p {
    font-size: 22px;
    font-weight: 800;
    line-height: 30px;

    color: hsl(193, 38%, 86%);
}

.container {
    height: 20px;
    margin-bottom: 30px;

    background: url("./images/pattern-divider-desktop.svg") no-repeat;
}

.button {
    position: absolute;
    left: 50%;
    margin-left: -25px;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    background-color: hsl(150, 100%, 66%);
}

.button:active {
    box-shadow: 0 0 30px 5px hsl(150, 100%, 66%); /* Колір, розмір та відстань тіні */
}


/* Mobile */
@media(max-width: 550px){
    .cart {
        padding: 16px;
    }

    .container {
        background: url("./images/pattern-divider-mobile.svg") no-repeat;
    }
}